@use "variables";
body {
	margin: 0;
	background-color: variables.$bg;
	color: var(--text);
	font-size: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.col {
	font-size: 4em;
	color: blue;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-size: 1.5em;
}

ul {
	list-style-image: url("../images/sword3.png");
}
